*.bat
*.bpproj
*.cache
*.dat
*.dll
*.exe
*.sq3
*.vdf
*.vpk
addons/metamod
addons/sourcemod/GPLv2.txt
addons/sourcemod/GPLv3.txt
addons/sourcemod/LICENSE.txt
addons/sourcemod/bin
addons/sourcemod/configs
addons/sourcemod/data/celmod/users
addons/sourcemod/gamedata/core.games
addons/sourcemod/gamedata/funcommands.games.txt
addons/sourcemod/gamedata/sdkhooks.games
addons/sourcemod/gamedata/sdktools.games
addons/sourcemod/gamedata/sm-cstrike.games
addons/sourcemod/gamedata/sm-tf2.games.txt
addons/sourcemod/plugins/admin-flatfile.smx
addons/sourcemod/plugins/adminhelp.smx
addons/sourcemod/plugins/adminmenu.smx
addons/sourcemod/plugins/antiflood.smx
addons/sourcemod/plugins/basebans.smx
addons/sourcemod/plugins/basechat.smx
addons/sourcemod/plugins/basecomm.smx
addons/sourcemod/plugins/basecommands.smx
addons/sourcemod/plugins/basetriggers.smx
addons/sourcemod/plugins/basevotes.smx
addons/sourcemod/plugins/clientprefs.smx
addons/sourcemod/plugins/disabled
addons/sourcemod/plugins/funvotes.smx
addons/sourcemod/plugins/nextmap.smx
addons/sourcemod/plugins/playercommands.smx
addons/sourcemod/plugins/reservedslots.smx
addons/sourcemod/plugins/sounds.smx
addons/sourcemod/scripting/admin-flatfile
addons/sourcemod/scripting/admin-flatfile.sp
addons/sourcemod/scripting/admin-sql-prefetch.sp
addons/sourcemod/scripting/admin-sql-threaded.sp
addons/sourcemod/scripting/adminhelp.sp
addons/sourcemod/scripting/adminmenu
addons/sourcemod/scripting/adminmenu.sp
addons/sourcemod/scripting/antiflood.sp
addons/sourcemod/scripting/basebans
addons/sourcemod/scripting/basebans.sp
addons/sourcemod/scripting/basechat.sp
addons/sourcemod/scripting/basecomm
addons/sourcemod/scripting/basecomm.sp
addons/sourcemod/scripting/basecommands
addons/sourcemod/scripting/basecommands.sp
addons/sourcemod/scripting/basetriggers.sp
addons/sourcemod/scripting/basevotes
addons/sourcemod/scripting/basevotes.sp
addons/sourcemod/scripting/clientprefs.sp
addons/sourcemod/scripting/compiled
addons/sourcemod/scripting/funcommands/beacon.sp
addons/sourcemod/scripting/funcommands/blind.sp
addons/sourcemod/scripting/funcommands/drug.sp
addons/sourcemod/scripting/funcommands/fire.sp
addons/sourcemod/scripting/funcommands/gravity.sp
addons/sourcemod/scripting/funcommands/noclip.sp
addons/sourcemod/scripting/funcommands/timebomb.sp
addons/sourcemod/scripting/funvotes
addons/sourcemod/scripting/funvotes.sp
addons/sourcemod/scripting/include/admin.inc
addons/sourcemod/scripting/include/adminmenu.inc
addons/sourcemod/scripting/include/adt.inc
addons/sourcemod/scripting/include/adt_array.inc
addons/sourcemod/scripting/include/adt_stack.inc
addons/sourcemod/scripting/include/adt_trie.inc
addons/sourcemod/scripting/include/banning.inc
addons/sourcemod/scripting/include/basecomm.inc
addons/sourcemod/scripting/include/bitbuffer.inc
addons/sourcemod/scripting/include/clientprefs.inc
addons/sourcemod/scripting/include/clients.inc
addons/sourcemod/scripting/include/commandfilters.inc
addons/sourcemod/scripting/include/commandline.inc
addons/sourcemod/scripting/include/console.inc
addons/sourcemod/scripting/include/convars.inc
addons/sourcemod/scripting/include/core.inc
addons/sourcemod/scripting/include/cstrike.inc
addons/sourcemod/scripting/include/datapack.inc
addons/sourcemod/scripting/include/dbi.inc
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/entity.inc
addons/sourcemod/scripting/include/entity_prop_stocks.inc
addons/sourcemod/scripting/include/entitylump.inc
addons/sourcemod/scripting/include/events.inc
addons/sourcemod/scripting/include/files.inc
addons/sourcemod/scripting/include/float.inc
addons/sourcemod/scripting/include/functions.inc
addons/sourcemod/scripting/include/geoip.inc
addons/sourcemod/scripting/include/halflife.inc
addons/sourcemod/scripting/include/handles.inc
addons/sourcemod/scripting/include/helpers.inc
addons/sourcemod/scripting/include/keyvalues.inc
addons/sourcemod/scripting/include/lang.inc
addons/sourcemod/scripting/include/logging.inc
addons/sourcemod/scripting/include/mapchooser.inc
addons/sourcemod/scripting/include/menus.inc
addons/sourcemod/scripting/include/nextmap.inc
addons/sourcemod/scripting/include/profiler.inc
addons/sourcemod/scripting/include/protobuf.inc
addons/sourcemod/scripting/include/regex.inc
addons/sourcemod/scripting/include/sdkhooks.inc
addons/sourcemod/scripting/include/sdktools.inc
addons/sourcemod/scripting/include/sdktools_client.inc
addons/sourcemod/scripting/include/sdktools_engine.inc
addons/sourcemod/scripting/include/sdktools_entinput.inc
addons/sourcemod/scripting/include/sdktools_entoutput.inc
addons/sourcemod/scripting/include/sdktools_functions.inc
addons/sourcemod/scripting/include/sdktools_gamerules.inc
addons/sourcemod/scripting/include/sdktools_hooks.inc
addons/sourcemod/scripting/include/sdktools_sound.inc
addons/sourcemod/scripting/include/sdktools_stocks.inc
addons/sourcemod/scripting/include/sdktools_stringtables.inc
addons/sourcemod/scripting/include/sdktools_tempents.inc
addons/sourcemod/scripting/include/sdktools_tempents_stocks.inc
addons/sourcemod/scripting/include/sdktools_trace.inc
addons/sourcemod/scripting/include/sdktools_variant_t.inc
addons/sourcemod/scripting/include/sdktools_voice.inc
addons/sourcemod/scripting/include/sorting.inc
addons/sourcemod/scripting/include/sourcemod.inc
addons/sourcemod/scripting/include/string.inc
addons/sourcemod/scripting/include/testing.inc
addons/sourcemod/scripting/include/textparse.inc
addons/sourcemod/scripting/include/tf2.inc
addons/sourcemod/scripting/include/tf2_stocks.inc
addons/sourcemod/scripting/include/timers.inc
addons/sourcemod/scripting/include/topmenus.inc
addons/sourcemod/scripting/include/usermessages.inc
addons/sourcemod/scripting/include/vector.inc
addons/sourcemod/scripting/include/version.inc
addons/sourcemod/scripting/include/version_auto.inc
addons/sourcemod/scripting/mapchooser.sp
addons/sourcemod/scripting/nextmap.sp
addons/sourcemod/scripting/nominations.sp
addons/sourcemod/scripting/playercommands
addons/sourcemod/scripting/playercommands.sp
addons/sourcemod/scripting/randomcycle.sp
addons/sourcemod/scripting/reservedslots.sp
addons/sourcemod/scripting/rockthevote.sp
addons/sourcemod/scripting/sounds.sp
addons/sourcemod/scripting/sql-admin-manager.sp
addons/sourcemod/scripting/testsuite
addons/sourcemod/translations/adminhelp.phrases.txt
addons/sourcemod/translations/adminmenu.phrases.txt
addons/sourcemod/translations/antiflood.phrases.txt
addons/sourcemod/translations/ar
addons/sourcemod/translations/basebans.phrases.txt
addons/sourcemod/translations/basecomm.phrases.txt
addons/sourcemod/translations/basetriggers.phrases.txt
addons/sourcemod/translations/basevotes.phrases.txt
addons/sourcemod/translations/bg
addons/sourcemod/translations/chi
addons/sourcemod/translations/clientprefs.phrases.txt
addons/sourcemod/translations/common.phrases.txt
addons/sourcemod/translations/core.phrases.txt
addons/sourcemod/translations/cze
addons/sourcemod/translations/da
addons/sourcemod/translations/de
addons/sourcemod/translations/el
addons/sourcemod/translations/es
addons/sourcemod/translations/fi
addons/sourcemod/translations/fr
addons/sourcemod/translations/funcommands.phrases.txt
addons/sourcemod/translations/funvotes.phrases.txt
addons/sourcemod/translations/he
addons/sourcemod/translations/hu
addons/sourcemod/translations/it
addons/sourcemod/translations/jp
addons/sourcemod/translations/ko
addons/sourcemod/translations/las
addons/sourcemod/translations/lt
addons/sourcemod/translations/lv
addons/sourcemod/translations/mapchooser.phrases.txt
addons/sourcemod/translations/nextmap.phrases.txt
addons/sourcemod/translations/nl
addons/sourcemod/translations/no
addons/sourcemod/translations/nominations.phrases.txt
addons/sourcemod/translations/pl
addons/sourcemod/translations/playercommands.phrases.txt
addons/sourcemod/translations/plugin.basecommands.txt
addons/sourcemod/translations/pt
addons/sourcemod/translations/pt_p
addons/sourcemod/translations/reservedslots.phrases.txt
addons/sourcemod/translations/ro
addons/sourcemod/translations/rockthevote.phrases.txt
addons/sourcemod/translations/ru
addons/sourcemod/translations/sk
addons/sourcemod/translations/sounds.phrases.txt
addons/sourcemod/translations/sqladmins.phrases.txt
addons/sourcemod/translations/sv
addons/sourcemod/translations/th
addons/sourcemod/translations/tr
addons/sourcemod/translations/ua
addons/sourcemod/translations/vi
addons/sourcemod/translations/zho
cfg/config_default.cfg
cfg/mapcycle_default.txt
cfg/motd_default.txt
cfg/motd_text_default.txt
cfg/pure_server_full.txt
cfg/pure_server_minimal.txt
cfg/pure_server_whitelist_example.txt
cfg/sourcemod
cfg/trusted_keys_base.txt
cfg/trusted_keys_example.txt
custom
download
downloadlists
gameinfo.txt
maps
materials/celmod/embview
materials/celmod/faces
materials/celmod/hoopie_w.vmt
materials/celmod/landskins
materials/celweps
materials/models
materials/phoenix_storms
models
resource
sound
stats.txt
steam.inf